APP_NAME=caverne
SERVER_PORT=8080

# PostgreSQL datasource
SPRING_DATASOURCE_URL=postgresql://feaefaefgr:npg_lrLuw9DvK6aG@ep-solitary-silence-afdyixr7-pooler.c-2.us-west-2.aws.neon.tech/fevegrgr?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=ddsaegege
SPRING_DATASOURCE_PASSWORD=kpopfieaf
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_DOCKER_COMPOSE_ENABLED=false

# JPA / Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

# Auth providers
AUTH_PROVIDERS_SUPABASE_ENABLED=false
AUTH_PROVIDERS_SUPABASE_JWT_SECRET=super-secret-jwt-key
AUTH_PROVIDERS_SUPABASE_ISSUER=https://project-ref.supabase.co/auth/v1
AUTH_PROVIDERS_SUPABASE_AUDIENCE=authenticated

# Initial admin bootstrap
BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_FIRSTNAME=Initial
BOOTSTRAP_ADMIN_LASTNAME=Admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PHONE=
BOOTSTRAP_ADMIN_PASSWORD=change-me-immediately

# Stripe
STRIPE_ENABLED=false
STRIPE_API_KEY=sk_test_example
STRIPE_API_VERSION=2025-03-31.acacia
STRIPE_CHECKOUT_SUCCESS_URL=http://localhost:3000/checkout/success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CHECKOUT_CANCEL_URL=http://localhost:3000/checkout/cancel

## it's only in test
RUN_REAL_STRIPE_TEST=true
