openapi: 3.0.3
info:
  title: La Caverne Malgache API
  description: |
    Documentation OpenAPI de La Caverne Malagasy.
    Couvre l'ensemble des ressources : utilisateurs, catalogue, commandes, paiements, livraisons.
  version: 1.0.0
  contact:
    name: Mr
servers:
  - url: https://api.lacaverne/v1
    description: Serveur de production

security:
  - BearerAuth: []

# ─────────────────────────────────────────────
# SECURITY
# ─────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ─── SCHEMAS ──────────────────────────────
  schemas:

    # ── AUTH ──
    LoginRequest:
      type: object
      required: [password]
      description: Fournir `email` ou `phone`, ou les deux.
      properties:
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          example: 3600

    RegisterRequest:
      type: object
      required: [firstname, lastname, password]
      description: Fournir `email` ou `phone`, ou les deux.
      properties:
        firstname:
          type: string
          maxLength: 100
        lastname:
          type: string
          maxLength: 50
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          maxLength: 20
          nullable: true
        password:
          type: string
          format: password

    # ── USER ──
    User:
      type: object
      properties:
        id:
          type: integer
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        role:
          type: string
          enum: [admin, simple_user]
        status:
          type: string

    UserUpdate:
      type: object
      properties:
        firstname:
          type: string
        lastname:
          type: string
        phone:
          type: string

    UserCreateInput:
      type: object
      required: [firstname, lastname, password]
      description: Fournir `email` ou `phone`, ou les deux.
      properties:
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        password:
          type: string
          format: password
        role:
          type: string
          enum: [admin, simple_user]
        status:
          type: string

    # ── ADDRESS ──
    Address:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        location:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
          maxLength: 3
        is_default:
          type: boolean
          default: false

    AddressInput:
      type: object
      required: [location, postal_code, country_code]
      properties:
        id:
          type: integer
          nullable: true
        location:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
          maxLength: 3
        is_default:
          type: boolean

    RecipientInput:
      type: object
      required: [location, postal_code, country_code, recipient_name, recipient_email, recipient_phone]
      properties:
        location:
          type: string
        postal_code:
          type: string
        country_code:
          type: string
          maxLength: 3
        recipient_name:
          type: string
        recipient_email:
          type: string
          format: email
        recipient_phone:
          type: string

    # ── CATEGORY ──
    Category:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
        slug:
          type: string
        map:
          type: string
          maxLength: 100
        parent_id:
          type: integer
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    CategoryInput:
      type: object
      required: [label, slug]
      properties:
        id:
          type: integer
          nullable: true
        label:
          type: string
        slug:
          type: string
        map:
          type: string
        parent_id:
          type: integer
          nullable: true

    # ── CURRENCY ──
    Currency:
      type: object
      properties:
        code_iso:
          type: string
          maxLength: 3
          example: MGA
        name:
          type: string
        symbol:
          type: string

    # ── PRODUCT ──
    Product:
      type: object
      properties:
        id:
          type: integer
        category_id:
          type: integer
        label:
          type: string
          maxLength: 255
        reference:
          type: string
          maxLength: 100
        limit_date:
          type: string
          format: date
          nullable: true
        description:
          type: string
        size:
          type: number
        is_active:
          type: boolean
          default: true
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        technical_specs:
          $ref: '#/components/schemas/TechnicalSpecs'

    ProductInput:
      type: object
      required: [category_id, label, reference]
      properties:
        id:
          type: integer
          nullable: true
        category_id:
          type: integer
        label:
          type: string
        reference:
          type: string
        limit_date:
          type: string
          format: date
        description:
          type: string
        size:
          type: number
        is_active:
          type: boolean

    ProductImage:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        url:
          type: string
          format: uri
        is_main:
          type: boolean
          default: false

    ProductImageInput:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        is_main:
          type: boolean

    # ── PRICE ──
    Price:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        currency_code:
          type: string
          maxLength: 3
        value:
          type: number
          format: double
        valid_from:
          type: string
          format: date
        unit:
          type: string

    PriceInput:
      type: object
      required: [currency_code, value, valid_from]
      properties:
        currency_code:
          type: string
        value:
          type: number
          format: double
        valid_from:
          type: string
          format: date
        unit:
          type: string

    # ── STOCK ──
    StockEntry:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        quantity:
          type: number
          format: double
        movement_type:
          type: string
          enum: [in, out, adjustment]
        date:
          type: string
          format: date-time
        unit:
          type: string

    StockInput:
      type: object
      required: [quantity, movement_type]
      properties:
        quantity:
          type: number
          format: double
        movement_type:
          type: string
          enum: [in, out, adjustment]
        unit:
          type: string

    StockSummary:
      type: object
      properties:
        product_id:
          type: integer
        available_quantity:
          type: number
        unit:
          type: string
        last_updated:
          type: string
          format: date-time

    # ── TECHNICAL SPECS ──
    TechnicalSpecs:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        country:
          type: string
        region:
          type: string
        climate:
          type: string
        provider:
          type: string
          maxLength: 255

    TechnicalSpecsInput:
      type: object
      properties:
        country:
          type: string
        region:
          type: string
        climate:
          type: string
        provider:
          type: string

    # ── REVIEW ──
    Review:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        product_id:
          type: integer
        score:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    ReviewInput:
      type: object
      required: [score]
      properties:
        score:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string

    # ── ORDER ──
    OrderItem:
      type: object
      properties:
        product_id:
          type: integer
        quantity:
          type: number
          format: double
        unit_price:
          type: number
          format: double

    Order:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        address_id:
          type: integer
        currency_code:
          type: string
        reference:
          type: string
        date:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, confirmed, delivered, cancelled]
        delivery_cost_id:
          type: integer
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        recipient:
          $ref: '#/components/schemas/RecipientInput'
        provider_response:
          type: object
          nullable: true

    OrderInput:
      type: object
      required: [currency_code, items, recipient]
      properties:
        address_id:
          type: integer
          nullable: true
        delivery_cost_id:
          type: integer
          nullable: true
        currency_code:
          type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [product_id, quantity]
            properties:
              product_id:
                type: integer
              quantity:
                type: number
                format: double
        recipient:
          $ref: '#/components/schemas/RecipientInput'

    OrderStatusUpdate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [pending, confirmed, delivered, cancelled]

    # ── DELIVER COST ──
    DeliverCost:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        amount:
          type: number
          format: double
        provider:
          type: string
        response_provider:
          type: object
          nullable: true

    DeliverCostInput:
      type: object
      required: [amount, provider]
      properties:
        amount:
          type: number
          format: double
        provider:
          type: string

    # ── PAYMENT METHOD ──
    PaymentMethod:
      type: object
      properties:
        provider_code:
          type: string
        label:
          type: string
          maxLength: 100
        is_active:
          type: boolean
        requires_manual_check:
          type: boolean
        integration_type:
          type: string
          enum: [manual, api, webhook]

    PaymentMethodInput:
      type: object
      required: [provider_code, label, integration_type]
      properties:
        provider_code:
          type: string
        label:
          type: string
        is_active:
          type: boolean
        requires_manual_check:
          type: boolean
        integration_type:
          type: string
          enum: [manual, api, webhook]

    # ── PAYMENT ──
    Payment:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        method_code:
          type: string
        currency_code:
          type: string
        amount:
          type: number
          format: double
        date:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, confirmed, failed, refunded]
        internal_reference:
          type: string
        provider_response:
          type: object
          nullable: true

    PaymentInput:
      type: object
      description: >
        Le `method_code` doit correspondre à un `provider_code` retourné par `/payment-methods`
        (ex : MANUAL, STRIPE).
      required: [method_code, currency_code, amount]
      properties:
        method_code:
          type: string
        currency_code:
          type: string
        amount:
          type: number
          format: double

    # ── COMMON ──
    PaginatedMeta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        per_page:
          type: integer
        last_page:
          type: integer

    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

  # ─── RESPONSES ────────────────────────────
  responses:
    Unauthorized:
      description: Token JWT manquant ou invalide
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Accès refusé (rôle insuffisant)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Données invalides
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  # ─── PARAMETERS ───────────────────────────
  parameters:
    pathId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    queryPage:
      name: page
      in: query
      schema:
        type: integer
        default: 1
    queryPerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:

  # ═══════════════════════════
  # AUTH
  # ═══════════════════════════
  /auth/register:
    post:
      tags: [Auth]
      summary: Inscription d'un nouvel utilisateur
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Utilisateur créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /auth/login:
    post:
      tags: [Auth]
      summary: Connexion — obtenir un JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Token JWT retourné
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Invalidation du token JWT courant
      responses:
        '204':
          description: Déconnexion réussie
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════
  # USERS
  # ═══════════════════════════
  /users:
    post:
      tags: [Users]
      summary: Créer un utilisateur (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateInput'
      responses:
        '201':
          description: Utilisateur créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags: [Users]
      summary: Liste des utilisateurs (admin)
      parameters:
        - $ref: '#/components/parameters/queryPage'
        - $ref: '#/components/parameters/queryPerPage'
        - name: role
          in: query
          schema:
            type: string
            enum: [admin, simple_user]
      responses:
        '200':
          description: Liste paginée
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/me:
    get:
      tags: [Users]
      summary: Profil de l'utilisateur connecté
      responses:
        '200':
          description: Profil retourné
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Users]
      summary: Mise à jour du profil
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Profil mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /users/{id}:
    parameters:
      - $ref: '#/components/parameters/pathId'
    get:
      tags: [Users]
      summary: Détail d'un utilisateur (admin)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Users]
      summary: Suppression d'un utilisateur (admin)
      responses:
        '204':
          description: Supprimé
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════════
  # ADDRESSES
  # ═══════════════════════════
  /users/me/addresses:
    get:
      tags: [Addresses]
      summary: Liste des adresses de l'utilisateur connecté
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Addresses]
      summary: Créer ou mettre à jour une adresse
      description: >
        Endpoint d'upsert. Si `id` est absent ou null dans le payload, une nouvelle adresse est créée.
        Si `id` est fourni et qu'une adresse appartenant à l'utilisateur existe, elle est mise à jour.
        Sinon, une nouvelle adresse est créée.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
      responses:
        '201':
          description: Adresse créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '200':
          description: Adresse mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/addresses/{id}:
    parameters:
      - $ref: '#/components/parameters/pathId'
    put:
      tags: [Addresses]
      summary: Créer ou mettre à jour une adresse par identifiant
      description: >
        Si l'adresse existe pour l'utilisateur connecté, elle est mise à jour.
        Sinon, une nouvelle adresse est créée et l'identifiant retourné fait foi.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
      responses:
        '200':
          description: Adresse mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '201':
          description: Adresse créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Addresses]
      summary: Supprimer une adresse
      responses:
        '204':
          description: Supprimée
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me/addresses/{id}/default:
    parameters:
      - $ref: '#/components/parameters/pathId'
    put:
      tags: [Addresses]
      summary: Définir comme adresse par défaut
      responses:
        '200':
          description: Adresse définie par défaut
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ═══════════════════════════
  # CATEGORIES
  # ═══════════════════════════
  /categories:
    get:
      tags: [Categories]
      summary: Liste des catégories (arbre)
      security: []
      parameters:
        - name: flat
          in: query
          description: Si true, retourne une liste plate sans enfants
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
    post:
      tags: [Categories]
      summary: Créer ou mettre à jour une catégorie (admin)
      description: >
        Endpoint d'upsert. Si `id` est absent ou null dans le payload, une nouvelle catégorie est créée.
        Si `id` est fourni, la catégorie existante correspondante doit être mise à jour.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInput'
      responses:
        '201':
          description: Créée quand `id` est absent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '200':
          description: Mise à jour quand `id` est fourni
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /categories/{id}:
    parameters:
      - $ref: '#/components/parameters/pathId'
    get:
      tags: [Categories]
      summary: Détail d'une catégorie
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Categories]
      summary: Créer ou mettre à jour une catégorie par identifiant (admin)
      description: >
        Si la catégorie existe, elle est mise à jour.
        Sinon, une nouvelle catégorie est créée et l'identifiant retourné fait foi.
        Si `id` est aussi fourni dans le payload, il doit correspondre à l'identifiant du path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryInput'
      responses:
        '200':
          description: Catégorie mise à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '201':
          description: Catégorie créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Categories]
      summary: Supprimer une catégorie (admin)
      responses:
        '204':
          description: Supprimée
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ═══════════════════════════
  # PRODUCTS
  # ═══════════════════════════
  /products:
    get:
      tags: [Products]
      summary: Catalogue produits
      security: []
      parameters:
        - $ref: '#/components/parameters/queryPage'
        - $ref: '#/components/parameters/queryPerPage'
        - name: category_id
          in: query
          schema:
            type: integer
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: search
          in: query
          schema:
            type: string
        - name: currency
          in: query
          schema:
            type: string
            example: MGA
      responses:
        '200':
          description: Liste paginée
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'
    post:
      tags: [Products]
      summary: Créer ou mettre à jour un produit (admin)
      description: >
        Endpoint d'upsert. Si `id` est absent ou null dans le payload, un nouveau produit est créé.
        Si `id` est fourni et qu'un produit existe, il est mis à jour.
        Sinon, un nouveau produit est créé.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        '201':
          description: Produit créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '200':
          description: Produit mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /products/{id}:
    parameters:
      - $ref: '#/components/parameters/pathId'
    get:
      tags: [Products]
      summary: Détail d'un produit
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Products]
      summary: Créer ou mettre à jour un produit par identifiant (admin)
      description: >
        Si le produit existe, il est mis à jour.
        Sinon, un nouveau produit est créé et l'identifiant retourné fait foi.
        Si `id` est aussi fourni dans le payload, il doit correspondre à l'identifiant du path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductInput'
      responses:
        '200':
          description: Produit mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '201':
          description: Produit créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags: [Products]
      summary: Supprimer un produit (admin)
      responses:
        '204':
          description: Supprimé
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ═══════════════════════════
  # ORDERS
  # ═══════════════════════════
  /orders:
    get:
      tags: [Orders]
      summary: Mes commandes (utilisateur connecté)
      parameters:
        - $ref: '#/components/parameters/queryPage'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, delivered, cancelled]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'
    post:
      tags: [Orders]
      summary: Passer une commande
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
      responses:
        '201':
          description: Commande créée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /orders/all:
    get:
      tags: [Orders]
      summary: Toutes les commandes (admin)
      parameters:
        - $ref: '#/components/parameters/queryPage'
        - $ref: '#/components/parameters/queryPerPage'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, delivered, cancelled]
        - name: user_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  meta:
                    $ref: '#/components/schemas/PaginatedMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/pathId'
    get:
      tags: [Orders]
      summary: Détail d'une commande
      security: []
      description: >
        Les commandes invitées peuvent être consultées sans authentification.
        Les commandes liées à un utilisateur nécessitent que l'acteur soit le propriétaire ou un admin.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{id}/status:
    parameters:
      - $ref: '#/components/parameters/pathId'
    put:
      tags: [Orders]
      summary: Changer le statut d'une commande (admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderStatusUpdate'
      responses:
        '200':
          description: Statut mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /orders/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/pathId'
    post:
      tags: [Orders]
      summary: Annuler une commande (owner ou admin)
      security: []
      responses:
        '200':
          description: Commande annulée
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ═══════════════════════════
  # PAYMENT METHODS
  # ═══════════════════════════
  /payment-methods:
    get:
      tags: [Payments]
      summary: Liste des moyens de paiement disponibles
      security: []
      responses:
        '200':
          description: Moyens disponibles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'

  # ═══════════════════════════
  # PAYMENTS
  # ═══════════════════════════
  /orders/{id}/payments:
    parameters:
      - $ref: '#/components/parameters/pathId'
    get:
      tags: [Payments]
      summary: Paiements associés à une commande
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment'
    post:
      tags: [Payments]
      summary: Initier un paiement
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInput'
      responses:
        '201':
          description: Paiement initié
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

tags:
  - name: Auth
    description: Inscription, connexion, JWT
  - name: Users
    description: Gestion des comptes utilisateurs
  - name: Addresses
    description: Adresses de livraison
  - name: Categories
    description: Arborescence de catégories produits
  - name: Products
    description: Catalogue produits
  - name: Orders
    description: Commandes
  - name: Payments
    description: Paiements initiés depuis une commande
